*{
    box-sizing: border-box;
    text-align: center;
}
.grid{
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    margin: auto;
    background-color: aqua;
}
.tile{
    width: 5%;
}