*{
    box-sizing: border-box;
    text-align: center;
}
body{
    margin: 0%;
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.grid{
    display: flex;
    width: 47.5vw;
    height: 67.5vh;
    flex-wrap: wrap;
    margin: auto;
    border: solid black 2px;
    background-color:rgb(39, 39, 39);
    border: white solid 0.5px;
    position: relative;
}
.tile{
    border: solid black 0.5px;
}
#app{

    color: wheat;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px;
}

#gameInfoBox{
    display: flex;
    height: 10vh;
    width: 47.5vw;
    border: white solid 0.1px;
}
#highScoreBox{
    display: flex;
    width: 47.5vw;
    border: white solid 0.1px;
}
#gridBox{
    display: flex;
    margin: 0%;
    align-content: center;
}
img{
    width: 100%;
    height: 100%;
}
#diamondCounter{
    border: solid white 0.1px;
    display: flex;
    align-content: center;
    font-size: 1em;
    width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#gameTimer, #levelBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 33.33333%;
}
.headerImg{
    display: flex;
    align-self: center;
    width: 3vw;
    height: 5.2vh;
    margin-right: 2vw;
}
#container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
#gallery{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}
.styleinfo{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;    
    align-items: center;
}
.imgbox{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 5px;
    width: 100px;
}
.box {
    flex-grow: 1;
    color: #fff;
    align-self: center;
}
.box1 {
    flex-grow: 2;
}
#gallery{
    display: flex;
    flex-direction: column;

    width: 8vw;
    border: wheat 2px solid;
}